# =====================================
# Unity 
# =====================================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Bb]uildCache/
[Ll]ogs/
[Uu]ser[Ss]ettings/
sysinfo.txt
MemoryCaptures/
Recordings/

# Packed Addressables
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/**/*
[Aa]ssets/[Ss]treamingAssets/aa.meta
[Aa]ssets/[Ss]treamingAssets/aa/*

# =====================================
# IDE
# =====================================
# VS / VSCode / JetBrains Rider
.vscode/
.vs/
.gradle/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Rider 
[Aa]ssets/Plugins/Editor/JetBrains*

# MonoDevelop / Consulo
ExportedObj/
.consulo/

# Crashlytics
crashlytics-build.properties

# =====================================
# 
# =====================================
*.unitypackage
npm-debug.log
yarn-error.log

# =====================================
# 
# =====================================
*.apk
*.aab
*.app

# iOS
Pods/
xcuserdata/
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
*.xcuserdatad/

# Android
.gradle/
local.properties

# =====================================
# 
# =====================================
.DS_Store
Thumbs.db
desktop.ini

# =====================================
#  Optional: Ignore AssetStoreTools plugin
# =====================================
# /[Aa]ssets/AssetStoreTools*

# =====================================
# 
# /Packages/
